spring:
  application:
    name: chattender-fahrplan-mcp
  security:
    oauth2:
      client:
        registration:
          journey:
            provider: sbb-azure
            authorization-grant-type: client_credentials
            client-id: ${JOURNEY_SERVICE_CLIENT_ID}
            client-secret: ${JOURNEY_SERVICE_CLIENT_SECRET}
            scope:
              - api://c11fa6b1-edab-4554-a43d-8ab71b016325/.default

        provider:
          sbb-azure:
            token-uri: https://login.microsoftonline.com/2cda5d11-f0ac-46b3-967d-af1b2e1bd01a/oauth2/v2.0/token
  ai:
    mcp:
      server:
        name: chattender-fahrplan-mcp
        version: 1.0.0
        type: SYNC
        stdio:
          enabled: false
        sse-message-endpoint: /mcp/message
management:
  endpoints:
    web:
      exposure:
        include:
         - health
         - readiness
         - liveness
chattender:
  fahrplan:
    security:
      enabled: false